Task2.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT students_info (student+)>
<!ELEMENT student (id,reg_no,name,avg,dob,time,mobile,distinction)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT reg_no (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT avg (#PCDATA)>
<!ELEMENT dob (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT mobile (#PCDATA)>
<!ELEMENT distinction (#PCDATA)>